fastapi
uvicorn
sqlalchemy
pymysql
alembic
passlib[bcrypt]
pydantic
pydantic-settings
python-dotenv
python-jose[cryptography]
python-multipart
numpy==1.26.4
pillow==10.2.0
scikit-learn==1.6.1
torch==2.2.2
torchvision==0.17.2
facenet-pytorch==2.6.0
